/* Write your CSS here */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  min-height: 100vh;
}
.calculator-container {
  background-color: #150b3e;
  width: 80%;
  max-width: 400px;
  border-radius: 16px;
  padding-top: 24px;
  padding-left: 18px;
  padding-bottom: 8px;
  padding-right: 18px;
}
@media screen and (min-width: 768px) {
  .calculator-container {
    width: 50%;
    padding-top: 48px;
    padding-left: 36px;
    padding-bottom: 16px;
    padding-right: 36px;
    max-width: 422px;
  }
}
.list-item {
  display: flex;
}
.initial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c7d2fe;
  height: 48px;
  width: 48px;
  border-radius: 24px;
}
@media screen and (min-width: 768px) {
  .initial-container {
    height: 64px;
    width: 64px;
    border-radius: 32px;
  }
}

.initial {
  color: #7c3aed;
  font-family: 'Roboto';
  font-size: 14px;
}
.name {
  font-size: 24px;
  font-weight: 500;
  color: #d4d2db;
  font-family: 'Roboto';
  margin-left: 18px;
}
.value-container {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
.balance-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.description {
  color: #585076;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}
.balance {
  color: #d4d2db;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .balance {
    font-size: 32px;
  }
}

.currency {
  color: #585076;
  font-size: 12px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .currency {
    font-size: 12px;
  }
}
.box-container {
  display: flex;
  padding-left: 0px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.withdraw {
  color: #d4d2db;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  margin-top: 16px;
}
